@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: #efefee;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}

.main-heading {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
}
.main-heading p {
  padding-bottom: 5px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.673);
}
.main-heading h1 {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  font-weight: 100;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 70px;
  background-color: #fffefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .title-nav {
  font-size: 30px;
  width: 15%;
  cursor: pointer;
}
header .container .listes {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .listes .nav-list {
  position: relative;
  padding: 10px;
}
header .container .listes .nav-list a {
  font-weight: 500;
  color: black;
}
header .container .listes .nav-list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: #cf1311;
  transition: all 0.5s;
}
header .container .listes .nav-list:hover a {
  font-weight: 700;
}
header .container .listes .nav-list:hover::before {
  left: 50%;
  width: 90%;
}
header .container .drop {
  position: relative;
}
header .container .drop .absolist {
  background-color: #fff;
  position: absolute;
  width: 150px;
  left: 0;
  top: 150%;
  opacity: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
  transition: all 0.5s;
}
header .container .drop .absolist .list {
  padding: 10px;
}
header .container .drop .absolist .list a {
  font-weight: 400;
  color: black;
}
header .container .drop .absolist .list:hover a {
  font-weight: 700;
}
header .container .drop::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  font-size: 10px;
  margin-left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
header .container .drop:hover .absolist {
  opacity: 1;
  top: 100%;
  display: block;
}
header .container .connexion {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 15%;
  height: 30px;
}
header .container .connexion a {
  padding: 5px 10px;
  background-color: #cf1311;
  border-radius: 30px;
  color: white;
}
header .container .mobile-nav {
  cursor: pointer;
  font-size: 20px;
  display: none;
}

@media (max-width: 576px) {
  header .container .listes {
    display: none;
  }
  header .container .title-nav {
    width: auto;
    font-size: 20px;
    cursor: pointer;
  }
  header .container .connexion {
    display: flex;
    justify-content: end;
    align-items: center;
    width: auto;
    height: 30px;
    flex: 1;
    margin-right: 10px;
  }
  header .container .connexion a {
    padding: 5px 10px;
    background-color: #cf1311;
    border-radius: 30px;
    color: white;
  }
  header .container .mobile-nav {
    cursor: pointer;
    font-size: 20px;
    display: block;
  }
  header .container .mobile-nav .divmobile {
    position: absolute;
    top: 0;
    right: -100%;
    background-color: #fff;
    width: 90%;
    height: 100vh;
    transition: all 0.8s;
  }
  header .container .mobile-nav .divmobile .close {
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  header .container .mobile-nav .divmobile .close i {
    font-size: 30px;
  }
  header .container .mobile-nav .divmobile .listes-m {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  header .container .mobile-nav .divmobile .listes-m .nav-list-m {
    width: 100%;
    padding: 10px;
  }
  header .container .mobile-nav .divmobile .listes-m .nav-list-m a {
    color: black;
  }
  header .container .mobile-nav .divmobile .listes-m .nav-list-m.active {
    border-bottom: 2px solid #cf1311;
  }
  header .container .mobile-nav .divmobile .listes-m .drop-m .drop-main {
    position: relative;
  }
  header .container .mobile-nav .divmobile .listes-m .drop-m .absolist-m {
    margin-left: 30px;
  }
  header .container .mobile-nav .divmobile .listes-m .drop-m .absolist-m .list-m {
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.284);
  }
  header .container .mobile-nav .divmobile .listes-m .drop-m .absolist-m .list-m a {
    color: rgba(0, 0, 0, 0.561);
  }
  header .container .mobile-nav .divmobile .listes-m .drop-m .drop-main::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    font-size: 10px;
    margin-left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .container .listes {
    display: none;
  }
  header .container .title-nav {
    width: auto;
    font-size: 20px;
    cursor: pointer;
  }
  header .container .connexion {
    display: flex;
    justify-content: end;
    align-items: center;
    flex: 1;
    margin-right: 30px;
    height: 30px;
  }
  header .container .connexion a {
    padding: 5px 10px;
    background-color: #cf1311;
    border-radius: 30px;
    color: white;
  }
  header .container .mobile-nav {
    cursor: pointer;
    font-size: 20px;
    display: block;
  }
  header .container .mobile-nav .divmobile {
    position: absolute;
    top: 0;
    right: -100%;
    background-color: #fff;
    width: 90%;
    height: 100vh;
    transition: all 0.8s;
  }
  header .container .mobile-nav .divmobile .close {
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  header .container .mobile-nav .divmobile .close i {
    font-size: 30px;
  }
  header .container .mobile-nav .divmobile .listes-m {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  header .container .mobile-nav .divmobile .listes-m .nav-list-m {
    width: 100%;
    padding: 10px;
  }
  header .container .mobile-nav .divmobile .listes-m .nav-list-m a {
    color: black;
  }
  header .container .mobile-nav .divmobile .listes-m .nav-list-m.active {
    border-bottom: 2px solid #cf1311;
  }
  header .container .mobile-nav .divmobile .listes-m .drop-m .drop-main {
    position: relative;
  }
  header .container .mobile-nav .divmobile .listes-m .drop-m .absolist-m {
    margin-left: 30px;
  }
  header .container .mobile-nav .divmobile .listes-m .drop-m .absolist-m .list-m {
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.284);
  }
  header .container .mobile-nav .divmobile .listes-m .drop-m .absolist-m .list-m a {
    color: rgba(0, 0, 0, 0.561);
  }
  header .container .mobile-nav .divmobile .listes-m .drop-m .drop-main::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    font-size: 10px;
    margin-left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 992px) {
  header .container .title-nav {
    font-size: 30px;
    width: 15%;
    cursor: pointer;
  }
  header .container .listes {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .listes .nav-list {
    position: relative;
    padding: 10px;
  }
  header .container .listes .nav-list a {
    font-size: 16px;
    font-weight: 500;
    color: black;
  }
  header .container .listes .nav-list::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #cf1311;
    transition: all 0.5s;
  }
  header .container .listes .nav-list:hover a {
    font-weight: 700;
  }
  header .container .listes .nav-list:hover::before {
    left: 50%;
    width: 90%;
  }
  header .container .drop {
    position: relative;
  }
  header .container .drop .absolist {
    background-color: #fff;
    position: absolute;
    width: 150px;
    left: 0;
    top: 150%;
    opacity: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
    transition: all 0.5s;
  }
  header .container .drop .absolist .list {
    padding: 10px;
  }
  header .container .drop .absolist .list a {
    font-weight: 400;
    color: black;
  }
  header .container .drop .absolist .list:hover a {
    font-weight: 700;
  }
  header .container .drop::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    font-size: 10px;
    margin-left: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  header .container .drop:hover .absolist {
    opacity: 1;
    top: 100%;
    display: block;
  }
  header .container .connexion {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 15%;
    height: 30px;
  }
  header .container .connexion a {
    padding: 5px 10px;
    background-color: #cf1311;
    border-radius: 30px;
    color: white;
  }
  header .container .mobile-nav {
    cursor: pointer;
    font-size: 20px;
    display: none;
  }
}
.section-1 {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-1 .container {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-1 .container .info {
  width: 100%;
  height: auto;
}
.section-1 .container .info h1 {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  font-weight: 200;
  padding-bottom: 20px;
}
.section-1 .container .info p {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.69);
  line-height: 25px;
  padding-bottom: 20px;
}
.section-1 .container .info .twobtns {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}
.section-1 .container .info .twobtns .book {
  background-color: #cf1311;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 15px;
}
.section-1 .container .info .twobtns .watch {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #cf1311;
}
.section-1 .container .info .twobtns .watch i {
  margin-right: 5px;
  font-size: 30px;
}
.section-1 .container .info .fixed-vd {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}
.section-1 .container .info .fixed-vd .frame-vd {
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-1 .container .info .fixed-vd .btn-close-vd {
  position: absolute;
  right: 30px;
  top: 30px;
}
.section-1 .container .info .fixed-vd .btn-close-vd i {
  font-size: 40px;
  color: #fffefe;
  cursor: pointer;
}
.section-1 .container .info .fixed-vd.show {
  opacity: 1;
  display: block;
}
.section-1 .container .img {
  width: 60%;
  height: auto;
}
.section-1 .container .img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  .section-1 {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-1 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }
  .section-1 .container .info {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .section-1 .container .info h1 {
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 20px;
  }
  .section-1 .container .info p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.69);
    line-height: 25px;
    padding-bottom: 20px;
  }
  .section-1 .container .info .twobtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .section-1 .container .info .twobtns .book {
    background-color: #cf1311;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
  }
  .section-1 .container .info .twobtns .watch {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #cf1311;
  }
  .section-1 .container .info .twobtns .watch i {
    font-size: 30px;
  }
  .section-1 .container .info .img {
    width: 100%;
    height: 100%;
  }
  .section-1 .container .info .img img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-1 {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-1 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }
  .section-1 .container .info {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .section-1 .container .info h1 {
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 20px;
  }
  .section-1 .container .info p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.69);
    line-height: 25px;
    padding-bottom: 20px;
  }
  .section-1 .container .info .twobtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .section-1 .container .info .twobtns .book {
    background-color: #cf1311;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
  }
  .section-1 .container .info .twobtns .watch {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #cf1311;
  }
  .section-1 .container .info .twobtns .watch i {
    font-size: 30px;
  }
  .section-1 .container .info .fixed-vd {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .section-1 .container .info .fixed-vd .frame-vd {
    width: 100%;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section-1 .container .info .fixed-vd .btn-close-vd {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .section-1 .container .info .fixed-vd .btn-close-vd i {
    font-size: 40px;
    color: #fffefe;
    cursor: pointer;
  }
  .section-1 .container .info .fixed-vd.show {
    position: fixed;
    opacity: 1;
    display: block;
  }
  .section-1 .container .img {
    width: 80%;
    height: 100%;
    padding-bottom: 50px;
  }
  .section-1 .container .img img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .section-1 {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-1 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-1 .container .info {
    width: 100%;
    height: auto;
  }
  .section-1 .container .info h1 {
    font-family: "Amatic SC", cursive;
    font-size: 60px;
    font-weight: 200;
    padding-bottom: 20px;
  }
  .section-1 .container .info p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.69);
    line-height: 25px;
    padding-bottom: 20px;
  }
  .section-1 .container .info .twobtns {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .section-1 .container .info .twobtns .book {
    background-color: #cf1311;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
  }
  .section-1 .container .info .twobtns .watch {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #cf1311;
  }
  .section-1 .container .info .twobtns .watch i {
    margin-right: 5px;
    font-size: 30px;
  }
  .section-1 .container .info .fixed-vd {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .section-1 .container .info .fixed-vd .frame-vd {
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section-1 .container .info .fixed-vd .btn-close-vd {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .section-1 .container .info .fixed-vd .btn-close-vd i {
    font-size: 40px;
    color: #fffefe;
    cursor: pointer;
  }
  .section-1 .container .info .fixed-vd.show {
    opacity: 1;
    display: block;
  }
}
@media (min-width: 1200px) {
  .section-1 {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-1 .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-1 .container .info {
    width: 100%;
    height: auto;
  }
  .section-1 .container .info h1 {
    font-family: "Amatic SC", cursive;
    font-size: 60px;
    font-weight: 200;
    padding-bottom: 20px;
  }
  .section-1 .container .info p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.69);
    line-height: 25px;
    padding-bottom: 20px;
  }
  .section-1 .container .info .twobtns {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .section-1 .container .info .twobtns .book {
    background-color: #cf1311;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
  }
  .section-1 .container .info .twobtns .watch {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #cf1311;
  }
  .section-1 .container .info .twobtns .watch i {
    margin-right: 5px;
    font-size: 30px;
  }
  .section-1 .container .info .fixed-vd {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .section-1 .container .info .fixed-vd .frame-vd {
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section-1 .container .info .fixed-vd .btn-close-vd {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  .section-1 .container .info .fixed-vd .btn-close-vd i {
    font-size: 40px;
    color: #fffefe;
    cursor: pointer;
  }
  .section-1 .container .info .fixed-vd.show {
    opacity: 1;
    display: block;
  }
}
.section-2 {
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fffefe;
}
.section-2 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.section-2 .container .main-div {
  position: relative;
  width: 700px;
  height: 700px;
}
.section-2 .container .main-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-2 .container .main-div .title {
  padding: 10px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: auto;
  text-align: center;
  background-color: #fffefe;
}
.section-2 .container .main-div .title p {
  padding-bottom: 10px;
}
.section-2 .container .main-div .title h2 {
  color: #cf1311;
}
.section-2 .container .second-div {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
.section-2 .container .second-div .second-1 p {
  padding-bottom: 10px;
}
.section-2 .container .second-div .second-2 {
  position: relative;
  width: 100%;
  height: auto;
}
.section-2 .container .second-div .second-2 i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #cf1311;
  background-color: aliceblue;
  border-radius: 50%;
  border: 1px solid #cf1311;
  cursor: pointer;
}
.section-2 .container .second-div .second-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 576px) {
  .main-heading {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
  }
  .main-heading p {
    padding-bottom: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.673);
  }
  .main-heading h1 {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    font-weight: 100;
  }
  .section-2 {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fffefe;
  }
  .section-2 .container {
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .section-2 .container .main-div {
    position: relative;
    width: 100%;
    height: auto;
  }
  .section-2 .container .main-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section-2 .container .main-div .title {
    padding: 10px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: auto;
    text-align: center;
    background-color: #fffefe;
  }
  .section-2 .container .main-div .title p {
    padding-bottom: 10px;
  }
  .section-2 .container .main-div .title h2 {
    color: #cf1311;
  }
  .section-2 .container .second-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column-reverse;
  }
  .section-2 .container .second-div .second-1 p {
    padding-bottom: 10px;
  }
  .section-2 .container .second-div .second-2 {
    padding-bottom: 20px;
    width: 100%;
    height: auto;
  }
  .section-2 .container .second-div .second-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-heading {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
  }
  .main-heading p {
    padding-bottom: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.673);
  }
  .main-heading h1 {
    font-family: "Amatic SC", cursive;
    font-size: 30px;
    font-weight: 100;
  }
  .section-2 {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fffefe;
  }
  .section-2 .container {
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .section-2 .container .main-div {
    position: relative;
    width: 100%;
    height: auto;
  }
  .section-2 .container .main-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section-2 .container .main-div .title {
    padding: 10px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: auto;
    text-align: center;
    background-color: #fffefe;
  }
  .section-2 .container .main-div .title p {
    padding-bottom: 10px;
  }
  .section-2 .container .main-div .title h2 {
    color: #cf1311;
  }
  .section-2 .container .second-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column-reverse;
  }
  .section-2 .container .second-div .second-1 p {
    padding-bottom: 10px;
  }
  .section-2 .container .second-div .second-2 {
    position: relative;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
  }
  .section-2 .container .second-div .second-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-heading {
    width: 30%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
  }
  .main-heading p {
    padding-bottom: 5px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.673);
  }
  .main-heading h1 {
    font-family: "Amatic SC", cursive;
    font-size: 50px;
    font-weight: 100;
  }
}
@media (min-width: 1200px) {
  .main-heading {
    width: 30%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
  }
  .main-heading p {
    padding-bottom: 5px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.673);
  }
  .main-heading h1 {
    font-family: "Amatic SC", cursive;
    font-size: 50px;
    font-weight: 100;
  }
}
@media (min-width: 1400px) {
  .main-heading {
    width: 30%;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
  }
  .main-heading p {
    padding-bottom: 5px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.673);
  }
  .main-heading h1 {
    font-family: "Amatic SC", cursive;
    font-size: 50px;
    font-weight: 100;
  }
}

/*# sourceMappingURL=app.css.map */
