.section-7 {
  margin-top: 20px;
  width: 100%;
  height: auto;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .chef {
      position: relative;
      width: 400px;
      transition: all 0.5s;
      overflow: hidden;
      .chefimg {
        position: relative;
        width: 100%;
        height: 400px;
        img {
          width: 100%;
          height: 100%;
        }
        svg {
          width: 100%;
          height: auto;
          position: absolute;
          z-index: 10;
          bottom: -2px;
          left: 0;
          fill: $nav-color;
        }
      }
      .chefinfo {
        padding: 10px;
        text-align: center;
        background-color: #fff;
        h5 {
          padding-top: 15px;
          padding-bottom: 5px;
          font-size: 20px;
        }
        span {
          font-size: 15px;
          color: rgba(104, 103, 103, 0.693);
        }
        p {
          padding-top: 10px;
          color: rgba(104, 103, 103, 0.693);
        }
      }
      .chef-social {
        padding: 15px;
        background-color: #ffffff4a;
        position: absolute;
        top: 10px;
        right: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        transition: all 0.5s;
        i {
          color: #939393;
        }
      }
    }
    .chef:hover .chef-social {
      right: 10px;
    }
    .chef:hover {
      transform: scale(1.1);
    }
  }
}
.section-7.dark {
  margin-top: 20px;
  width: 100%;
  height: auto;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .chef {
      width: 400px;
      transition: all 0.5s;
      .chefimg {
        width: 100%;
        height: 400px;
        img {
          width: 100%;
          height: 100%;
        }
        svg {
          width: 100%;
          height: auto;
          position: absolute;
          z-index: 10;
          bottom: -2px;
          left: 0;
          fill: $footer-color;
        }
      }
      .chefinfo {
        padding: 10px;
        text-align: center;
        background-color: $footer-color;
        h5 {
          padding-top: 15px;
          padding-bottom: 5px;
          font-size: 20px;
        }
        span {
          font-size: 15px;
          color: rgba(104, 103, 103, 0.693);
        }
        p {
          padding-top: 10px;
          color: rgba(104, 103, 103, 0.693);
        }
      }
      .chef-social {
        padding: 15px;
        background-color: #ffffff4a;
        position: absolute;
        top: 10px;
        right: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        transition: all 0.5s;
        i {
          color: #939393;
        }
      }

    }
    .chef:hover .chef-social {
      right: 10px;
    }
    .chef:hover {
      transform: scale(1.1);
    }
  }
}
@media (max-width: 576px) {
  .section-7 {
    margin-top: 20px;
    width: 100%;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      .chef {
        width: 400px;
        overflow: hidden;
        transition: all 0.5s;
        .chefimg {
          width: 100%;
          height: 400px;
          img {
            width: 100%;
            height: 100%;
          }
          svg {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 10;
            bottom: -2px;
            left: 0;
            fill: $nav-color;
          }
        }
        .chefinfo {
          padding: 10px;
          text-align: center;
          background-color: #fff;
          h5 {
            padding-top: 15px;
            padding-bottom: 5px;
            font-size: 20px;
          }
          span {
            font-size: 15px;
            color: rgba(104, 103, 103, 0.693);
          }
          p {
            padding-top: 10px;
            color: rgba(104, 103, 103, 0.693);
          }
        }
        .chef-social {
          padding: 15px;
          background-color: #ffffff4a;
          position: absolute;
          top: 10px;
          right: -50px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          transition: all 0.5s;
          i {
            color: #939393;
          }
        }
      }
      .chef:hover .chef-social {
        right: 50px;
      }
      .chef:hover {
        transform: scale(1);
      }
    }
  }
  .section-7.dark {
    margin-top: 20px;
    width: 100%;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      .chef {
        width: 400px;
        overflow: hidden;
        transition: all 0.5s;

        .chefimg {
          width: 100%;
          height: 400px;
          img {
            width: 100%;
            height: 100%;
          }
          svg {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 10;
            bottom: -2px;
            left: 0;
            fill: $footer-color;
          }
        }
        .chefinfo {
          padding: 10px;
          text-align: center;
          background-color: $footer-color;
          h5 {
            padding-top: 15px;
            padding-bottom: 5px;
            font-size: 20px;
          }
          span {
            font-size: 15px;
            color: rgba(104, 103, 103, 0.693);
          }
          p {
            padding-top: 10px;
            color: rgba(104, 103, 103, 0.693);
          }
        }
        .chef-social {
          padding: 15px;
          background-color: #ffffff4a;
          position: absolute;
          top: 10px;
          right: -50px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          transition: all 0.5s;
          i {
            color: #939393;
          }
        }
      }
      .chef:hover .chef-social {
        right: 50px;
      }
      .chef:hover {
        transform: scale(1);
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section-7 {
    margin-top: 20px;
    width: 100%;
    height: auto;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      .chef {
        width: 350px;
        overflow: hidden;
        transition: all 0.5s;
        .chefimg {
          width: 100%;
          height: 400px;
          img {
            width: 100%;
            height: 100%;
          }
          svg {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 10;
            bottom: -2px;
            left: 0;
            fill: $nav-color;
          }
        }
        .chefinfo {
          padding: 10px;
          text-align: center;
          background-color: #fff;
          h5 {
            padding-top: 15px;
            padding-bottom: 5px;
            font-size: 20px;
          }
          span {
            font-size: 15px;
            color: rgba(104, 103, 103, 0.693);
          }
          p {
            padding-top: 10px;
            color: rgba(104, 103, 103, 0.693);
          }
        }
        .chef-social {
          padding: 15px;
          background-color: #ffffff4a;
          position: absolute;
          top: 10px;
          right: -50px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          transition: all 0.5s;
          i {
            color: #939393;
          }
        }
      }
      .chef:hover .chef-social {
        right: 50px;
      }
      .chef:hover {
        transform: scale(1.1);
      }
    }
  }
  .section-7.dark {
    margin-top: 20px;
    width: 100%;
    height: auto;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      .chef {
        width: 350px;
        overflow: hidden;
        transition: all 0.5s;
        .chefimg {
          width: 100%;
          height: 400px;
          img {
            width: 100%;
            height: 100%;
          }
          svg {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 10;
            bottom: -2px;
            left: 0;
            fill: $footer-color;
          }
        }
        .chefinfo {
          padding: 10px;
          text-align: center;
          background-color: $footer-color;
          h5 {
            padding-top: 15px;
            padding-bottom: 5px;
            font-size: 20px;
          }
          span {
            font-size: 15px;
            color: rgba(104, 103, 103, 0.693);
          }
          p {
            padding-top: 10px;
            color: rgba(104, 103, 103, 0.693);
          }
        }
        .chef-social {
          padding: 15px;
          background-color: #ffffff4a;
          position: absolute;
          top: 10px;
          right: -50px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          transition: all 0.5s;
          i {
            color: #939393;
          }
        }
      }
      .chef:hover .chef-social {
        right: 50px;
      }
      .chef:hover {
        transform: scale(1.1);
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .section-7 {
    margin-top: 20px;
    width: 100%;
    height: auto;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      .chef {
        width: 400px;
        overflow: hidden;
        transition: all 0.5s;
        .chefimg {
          width: 100%;
          height: 400px;
          img {
            width: 100%;
            height: 100%;
          }
          svg {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 10;
            bottom: -2px;
            left: 0;
            fill: $nav-color;
          }
        }
        .chefinfo {
          padding: 10px;
          text-align: center;
          background-color: #fff;
          h5 {
            padding-top: 15px;
            padding-bottom: 5px;
            font-size: 20px;
          }
          span {
            font-size: 15px;
            color: rgba(104, 103, 103, 0.693);
          }
          p {
            padding-top: 10px;
            color: rgba(104, 103, 103, 0.693);
          }
        }
        .chef-social {
          padding: 15px;
          background-color: #ffffff4a;
          position: absolute;
          top: 10px;
          right: -50px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          transition: all 0.5s;
          i {
            color: #939393;
          }
        }
      }
      .chef:hover .chef-social {
        right: 50px;
      }
      .chef:hover {
        transform: scale(1.1);
      }
    }
  }
  .section-7.dark {
    margin-top: 20px;
    width: 100%;
    height: auto;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      .chef {
        width: 400px;
        overflow: hidden;
        transition: all 0.5s;
        .chefimg {
          width: 100%;
          height: 400px;
          img {
            width: 100%;
            height: 100%;
          }
          svg {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 10;
            bottom: -2px;
            left: 0;
            fill: $footer-color;
          }
        }
        .chefinfo {
          padding: 10px;
          text-align: center;
          background-color: $footer-color;
          h5 {
            padding-top: 15px;
            padding-bottom: 5px;
            font-size: 20px;
          }
          span {
            font-size: 15px;
            color: rgba(104, 103, 103, 0.693);
          }
          p {
            padding-top: 10px;
            color: rgba(104, 103, 103, 0.693);
          }
        }
        .chef-social {
          padding: 15px;
          background-color: #ffffff4a;
          position: absolute;
          top: 10px;
          right: -50px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          transition: all 0.5s;
          i {
            color: #939393;
          }
        }
      }
      .chef:hover .chef-social {
        right: 50px;
      }
      .chef:hover {
        transform: scale(1.1);
      }
    }
  }
}
@media (min-width: 1200px) {
  .section-7 {
    margin-top: 20px;
    width: 100%;
    height: auto;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      .chef {
        width: 400px;
        overflow: hidden;
        transition: all 0.5s;
        .chefimg {
          width: 100%;
          height: 400px;
          img {
            width: 100%;
            height: 100%;
          }
          svg {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 10;
            bottom: -2px;
            left: 0;
            fill: $nav-color;
          }
        }
        .chefinfo {
          padding: 10px;
          text-align: center;
          background-color: #fff;
          h5 {
            padding-top: 15px;
            padding-bottom: 5px;
            font-size: 20px;
          }
          span {
            font-size: 15px;
            color: rgba(104, 103, 103, 0.693);
          }
          p {
            padding-top: 10px;
            color: rgba(104, 103, 103, 0.693);
          }
        }
        .chef-social {
          padding: 15px;
          background-color: #ffffff4a;
          position: absolute;
          top: 10px;
          right: -50px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          transition: all 0.5s;
          i {
            color: #939393;
          }
        }
      }
      .chef:hover .chef-social {
        right: 50px;
      }
      .chef:hover {
        transform: scale(1.1);
      }
    }
  }
  .section-7.dark {
    margin-top: 20px;
    width: 100%;
    height: auto;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      .chef {
        width: 400px;
        overflow: hidden;
        transition: all 0.5s;
        .chefimg {
          width: 100%;
          height: 400px;
          img {
            width: 100%;
            height: 100%;
          }
          svg {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 10;
            bottom: -2px;
            left: 0;
            fill: $footer-color;
          }
        }
        .chefinfo {
          padding: 10px;
          text-align: center;
          background-color: $footer-color;
          h5 {
            padding-top: 15px;
            padding-bottom: 5px;
            font-size: 20px;
          }
          span {
            font-size: 15px;
            color: rgba(104, 103, 103, 0.693);
          }
          p {
            padding-top: 10px;
            color: rgba(104, 103, 103, 0.693);
          }
        }
        .chef-social {
          padding: 15px;
          background-color: #ffffff4a;
          position: absolute;
          top: 10px;
          right: -50px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 10px;
          transition: all 0.5s;
          i {
            color: #939393;
          }
        }
      }
      .chef:hover .chef-social {
        right: 50px;
      }
      .chef:hover {
        transform: scale(1.1);
      }
    }
  }
}
